* {
 box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Avenir Next";
}

a {
 text-decoration: none;
}

.clear {
 clear: left;
}

li {
  list-style: none;
}

.header {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  background-color: #A52A2A;
  color: #DAA250;
  height: 100px;
}

.header-logo {
  float: left;
  padding: 0px 40px;
}

.header-list li {
  float: right;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 40px 50px;
}

/* Tambahkan CSS untuk menu-icon */
.menu-icon {
 color: white;
 float: right;
 font-size: 25px;
 padding: 21px 0;
 /* Gantikan property display ke none */
 display: none;
}

.main {
  background-color: #FFE4C4;
  padding: 100px 80px;
}

.copy-container h1 {
  text-align: center;
  font-size: 45px;
  font-family: "Lucida Handwriting";
}

.copy-container h2 {
  text-align: center;
  font-size: 25px;
  font-family: "Goudy Old Style";
}

.copy-container h3 {
  text-align: center;
  font-size: 20px;
  font-family: "Goudy Old Style";
}

.copy-container h4 {
  text-align: center;
  font-size: 20px;
  word-wrap: break-word;
}

.copy-container span {
  color: #ff4a4a;
}

.contents {
  height: 500px;
  margin-top: 100px;
}

.section-title {
  border-bottom: 2px solid #8B0000;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.contents-item {
  float: left;
  margin-right: 40px;
}

.contents-item p {
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
}

.contact-form {
  padding-top: 100px;
}

/* Add CSS for <input> and <textarea> tags */
input, textarea {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

/* Add CSS for contact-submit */
.contact-submit {
  background-color: #dee7ec;
  color: #889eab;
}

.footer {
  background-color: #A52A2A;
  color: #DAA250;
  height: 180px;
  padding: 50px;
}

.footer-logo {
  text-align: center;
}

.footer-list {
  float: bottom;
  text-align: center;
  font-size: 22px;
}

.footer-list li {
  padding-bottom: 20px;
}
